{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <form method="post">
                    {% if error %}
                        <div class="notification is-danger">
                            { error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <p class="title is-1">Please sign in</p>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" value="{{ last_username }}" name="username" placeholder="Username">
                            <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="password" placeholder="Password">
                            <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success">
                                Login
                            </button>
                        </p>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
