{% extends 'base.html.twig' %}

{% block title %}Hello KnowledgeController!{% endblock %}

{% block body %}
    <ul>
        {% for item in table %}
            <li>
                <a href="#{{ item.id }}">
                    {% for i in range(1, item.level) %}#{% endfor %}
                    {{ item.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {{ content|raw }}

{% endblock %}
