{% extends "base.html.twig" %}
{% block body %}
    <div class="title" id="document-title">
        <div class="hero">{{ file.title }}</div>
    </div>
    <div class="page-content">
    The document "{{ file.title }}" requested cannot be found :( <br/><br/>
    Do you want to <b><a href="{{ url('knowledge_edit',{webpath: file.webpath}) }}">create it ?</a></b>
    </div>
{% endblock %}