:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 4%);
    --color-light: hsl(0, 0%, 96%);
    --color-dark: hsl(0, 0%, 21%);
    --color-primary: hsl(204, 86%, 53%);
    --color-info: hsl(204, 86%, 53%);
    --color-link: hsl(217, 71%, 53%);
    --color-success: hsl(141, 71%, 48%);
    --color-warning: hsl(48, 100%, 67%);
    --color-danger: hsl(348, 100%, 61%);
    --color-black-bis: hsl(0, 0%, 7%);
    --color-black-ter: hsl(0, 0%, 14%);
    --color-grey-darker: hsl(0, 0%, 21%);
    --color-grey-dark: hsl(0, 0%, 29%);
    --color-grey: hsl(0, 0%, 48%);
    --color-grey-light: hsl(0, 0%, 71%);
    --color-grey-lighter: hsl(0, 0%, 86%);
    --color-white-ter: hsl(0, 0%, 96%);
    --color-white-bis: hsl(0, 0%, 98%)
}

a {
    color: var(--color-grey-dark);
    text-decoration: none;
}

a:hover {
    color: var(--color-link);
}


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-grey-dark);
}

ul {
    margin: 0px;
}

.left-column {
    transition: .5s ease;
    position: relative;
    width: 300px;
    max-width: 90%;
    background-color: var(--color-white);
}

.left-column ul {
    list-style: none;
    display: block;
    padding: 0px;
}

.left-close {
    display: none;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateX(100%);
    background-color: var(--color-white);
    padding: 8px 10px;
    cursor: pointer;
}

.left-column li ul {
    border-left: 1px solid var(--color-grey-lighter);
    margin-left: 10px;
}

.left-column li {
    padding-left: 10px;
    display: block;


}

.right-column nav a {
    padding: 5px 10px;
    font-size: 20px;
}

.left-column a:hover {
    background-color: var(--color-white-ter);
}

.left-column a.is-active, .left-column a.is-active:hover {
    background-color: var(--color-link);
    color: var(--color-light);
}


.left-column a {
    display: block;

    padding: 8px;

}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    display: flex;
    height: 100vh;
}

.left-column {
    flex: 0 0 300px;
    box-shadow: 0px 0px 4px var(--color-grey-dark);


}

.left-column .menu-list {
    height: calc(100vh);
    overflow: auto;
}

.left-opener {
    box-shadow: 0px 0px 4px var(--color-grey-dark);
    height: 100vh;
    display: none;


}

.left-opener a {
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    margin-right: 10px;

}

.left-opener.show {
    display: block;
}

.login-button {
    height: 45px;
    line-height: 45px;
    display: block;
    text-align: center;
}

.left-column.hidden {
    display: none;
}


.center-column {
    flex: 1 1;
    padding: 16px;
    overflow: auto;
    scroll-behavior: smooth;


}

.page-content {
    padding-left: 250px;
    padding-right: 250px;
}

.right-column {
    position: fixed;
    padding-top: 16px;
    top: 0;
    right: 10px;
    width: 240px;
    font-size: 13px;


}

.right-column a:target {
    background-color: var(--color-link);
}

.right-column ul {
    list-style: none;
    padding: 0px;
}

.right-column li {
    padding-left: 15px;
}

.breadcrumb {

}

.breadcrumb ul li:not(:first-of-type):before {
    content: "/";
    margin: 10px;
}

.breadcrumb ul li {
    display: inline-block;
}

.breadcrumb a {
    color: var(--color-link);
}

.breadcrumb a:hover {
    color: var(--color-black);
}

.breadcrumb .is-active a {
    color: var(--color-black);
}

.editor {
    height: 100vh;
    overflow: hidden;
}

.CodeMirror-wrap {
    height: calc(100vh - 150px) !important;
    overflow: auto;
}

.page-content {
    padding-bottom: 200px;
}

.page-content .title {
    margin-bottom: 1em;
}

.page-content p {
    text-align: justify;
}

.page-content pre {
    overflow: auto;
}


.page-content table {
    width: 100%;
    border-collapse: collapse;

}

.page-content table td {
    padding: 20px;
}

.page-content table th {
    padding: 10px;
    border-bottom: 2px solid var(--color-black-ter);
}

.page-content a {
    color: var(--color-link);
}

.page-content a:hover {
    color: var(--color-grey-dark);
}

.page-content table tr:nth-of-type(2n) {
    background-color: var(--color-light);
}

.page-content img {
    max-width: 100%;
    box-shadow: 0px 0px 4px var(--color-grey-lighter);
}


.right-column a.active {
    color: var(--color-link);
    font-weight: bold;
}


.right-column li p {
    text-transform: uppercase;
    font-weight: 700;
}

form input[type=text] {
    height: 20px;
}

form button {
    border: 0px;
    background-color: var(--color-grey-dark);
    color: var(--color-grey-lighter);
    height: 26px;
}

.left-column .top-left {
    height: 45px;
    display: flex;
    line-height: 45px;
}

.pull-right {
    float: right;
    margin-right: 10px;
    margin-left: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;

    width: 80%;
    height: 60%;
    max-height: 400px;

    max-width: 800px; /* Could be more or less, depending on screen size */
}

.modal-content iframe {
    width: 100%;
    height: 100%;

}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

blockquote {
    border-left: 8px solid var(--color-info);
    margin-left: 0px;
    margin-right: 16px;
    padding: 4px 4px 4px 32px;

    color: var(--color-grey);
}

.top-menu {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

.top-menu li {
    list-style: none;
    float: right;
    margin-right: 10px;

}

.top-menu li i {
    z-index: -100;

}

.left-close:hover {
    color: var(--color-link);
}