@media screen and (max-width: 1500px) {

    .page-content {
        padding-left: 20px;
    }

}

@media screen and (max-width: 991px) {
    .left-column {
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .left-column.active {
        transform: translateX(0);
    }

    .left-close {
        display: block;
    }

    .page-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right-column {
        display: none;
    }

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
    /* start of phone styles */

}