:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(204, 86%, 53%);
  --color-info: hsl(204, 86%, 53%);
  --color-link: hsl(217, 71%, 53%);
  --color-success: hsl(141, 71%, 48%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);
  --color-black-bis: hsl(0, 0%, 7%);
  --color-black-ter: hsl(0, 0%, 14%);
  --color-grey-darker: hsl(0, 0%, 21%);
  --color-grey-dark: hsl(0, 0%, 29%);
  --color-grey: hsl(0, 0%, 48%);
  --color-grey-light: hsl(0, 0%, 71%);
  --color-grey-lighter: hsl(0, 0%, 86%);
  --color-white-ter: hsl(0, 0%, 96%);
  --color-white-bis: hsl(0, 0%, 98%)
}