<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KIP - {% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="stylesheet" href="{{ asset('css/base.css') }}?v=1"/>
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}?v=1"/>
    <script src="https://kit.fontawesome.com/63a539fbd1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-okaidia.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="left-column">
        {% block left %}
        <span class="left-close"> Menu <i class="fas fa-dragon"></i></span>    
            {{ render(controller('App\\Controller\\EmbeddedController::leftDefaultMenu')) }}
        {% endblock %}
    </div> 
    <div class="center-column">
        {% block body %}{% endblock %}
    </div>
    <div class="right-column">
        {% block right %}{% endblock %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script>
    //Responsive side menu
    var menuButton = document.getElementsByClassName('left-close')[0];
    menuButton.addEventListener("click", function() {
        document.getElementsByClassName('left-column')[0].classList.toggle("active");
    }) 

   
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
